.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-cover {
  margin-bottom: 3rem;
  border-radius: 5px;
}

.song-name {
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.song-artist {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
