.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.song-cover {
  margin-bottom: 3rem;

  img {
    height: 250px;

    object-fit: cover;
    border-radius: 50px;
  }
}

.song-name {
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.song-artist {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 200;
}
