* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./nav";
@import "./song";
@import "./player"; // font-family: 'Inter', sans-serif;
// font-family: 'Lobster', cursive;
@import "./library";
